.markdownApp {
    width: 100%;
    height: 100%;
}

.markdownHeader {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: burlywood;
}

.markdownWrapper {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #87B5B5;
}

.toolbar {
    display: flex;
    background-color: #4AA3A3;
    padding: 5px 10px;
    font-weight: 800;
    align-items: center;
    border: 1px solid #000;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
}

.toolbar i {
    margin: 0px 5px;
    margin-left: auto;
    cursor: pointer;
}

.toolbar i:hover {
    color: #57e2b1;
}

.editorWrapper {
    max-width: 600px;
    width: 40vw;
    padding: 0;
    margin: 0;
    background-color: #C0D8D8;
    margin: auto;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
}

.editor {
    max-width: 595px;
    width: 98%;
    min-height: 200px;
    height: 70vh;
    max-height: 70vh;
    background-color: #C0D8D8;
    border: none;
    margin-top: 5px;
    resize: none;
    outline: none;
    padding: 5px;
}

.previewWrapper {
    max-width: 800px;
    width: 50vw;
    padding: 0;
    margin: 0;
    background-color: #C0D8D8;
    /* margin: auto; */
    margin: 0 10px;
}

.preview {
    background-color: #C0D8D8;
    min-height: 200px;
    padding: 10px;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    height: 70vh;
    overflow-y: auto;
}

.preview img {
    display: block;
    max-width: 90%;
    margin: 2rem auto;
}

.maximize {
    width: 96%;
    min-height: 100%;
    height: 70vh;
    margin: auto;
}

/* .maximize .editor {
    min-height: 95%;
    resize: none;
} */

.hide {
    display: none;
}